

<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <app-sidenav-list (closeSideNav)="sidenav.close()"></app-sidenav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-toolbar (SideNavToggle)="sidenav.toggle()"></app-toolbar>
        <app-navtabs></app-navtabs>

        <main>
            <div class="fullscreen">
                <div fxLayout="row" fxLayoutAlign="center">
                    <div fxFlex="20" class="c1" align="center">
                        <mat-card class="our-team">
                            <mat-card-content class="picture" align="center"><img src="https://lacontradejaen.com/img/users/user-default.png" width="130" height="130" alt="user"></mat-card-content>
                            <div class="check">
                                <mat-icon>
                                    check_circle
                                </mat-icon>
                            </div>
                            <!--    <p align="center" color="primary">Cambiar foto de perfil</p> -->
                            <mat-card-header>Nombre user.</mat-card-header>
                            <mat-card-subtitle>info: </mat-card-subtitle>
                            <mat-card-subtitle>detalles: </mat-card-subtitle>
                        </mat-card>
                        <br><br>
                        <mat-card>
                            <mat-card-header>Datos de contacto.</mat-card-header>
                            <mat-card-content>
                                <mat-card-subtitle>Telefono: </mat-card-subtitle>
                                <mat-card-subtitle>Correo: </mat-card-subtitle>
                            </mat-card-content>
                        </mat-card>
                        <br><br>
                        <mat-card>
                            <mat-card-header>Archivos y enlaces.</mat-card-header>
                            <mat-card-content>
                                <mat-list>
                                    <mat-list-item>Item 1</mat-list-item>
                                    <mat-divider></mat-divider>
                                </mat-list>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div fxFlex="75" class="c1">
                        <mat-card>
                            <mat-card-header>Acerca de mi.</mat-card-header>
                            <mat-card-content>
                                <p>Escribe una descripcion</p>
                                <div class="edit">
                                    <mat-icon>border_color</mat-icon>
                                </div>
                            </mat-card-content>
                        </mat-card>
                        <br><br>
                        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <mat-icon class="example-tab-icon">work</mat-icon>
                                    Experiencia Laboral
                                </ng-template>
                                <mat-card>Content 1</mat-card>
                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <mat-icon class="example-tab-icon">folder_special</mat-icon>
                                    Certificaciones
                                </ng-template>
                                <mat-card>Content 2</mat-card>
                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <mat-icon class="example-tab-icon">tips_and_updates</mat-icon>
                                    Habilidades
                                </ng-template>
                                <mat-card>Content 3</mat-card>
                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <mat-icon class="example-tab-icon">language</mat-icon>
                                    Idiomas
                                </ng-template>
                                <mat-card>Content 3</mat-card>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
            
                </div>
                </div>
            
        </main>

    </mat-sidenav-content>
</mat-sidenav-container>
