body {
  margin: 0;
  padding: 0;
  background-color: #e4eff0;
  height: 100vh;
}

/* Toolbar */
.toolbar{
  background-color: #1B94A3;
  color: white;
}

.icono-tareas{
  width: 76px;
  height: 69px;
}

.titulo-toolbar{
  font-size: 36px;
  width: 100%;
  text-align: center;
}

.espaciador-toolbar{
  flex: 1 1 auto;
}

.icono-user{
  font-size: 35px;
  outline: none;
}

.icono-user:hover{
  color: #cccccc;
}

/* Select */
.conten-select{
  max-width: 320px;
  padding: 15px;
  border-radius: 50px;
  font-size: 24px;
  border: 2.5px solid #1967B0;
  margin-left: 45px;
  cursor: pointer;
  outline: none;
  margin-top: 10px;
}

.conten-select:hover{
  border: 2.5px solid #124370;
}

/* Buscador */

.input{
  margin-top: 10px;
  min-width: 250px;
  max-width: 700px;
  padding: 14.5px;
  border-radius: 50px 0 0 50px;
  font-size: 24px;
  border: 2.5px solid #1967B0;
  margin-left: 40px;
  outline: none;
}

.input:focus{
  border: 2.5px solid #124370;
}

.boton-buscador{
  margin-top: 10px;
  padding: 10px;
  border:none;
  outline:none;
  cursor:pointer;
  background-color: #1967B0;
  border-radius: 0 50px 50px 0;
}

.boton-buscador:hover{
  background-color: #124370;
}

.icono-search{
  color: white;
}

/* Card */
.card{
  background-color: #1967B0;
  border-radius: 25px;
  margin: auto;
  /* margin-left: 15px;
  margin-right: 15px; */
  height: 300px;
  font-family: Roboto, sans-serif;
  color: white;
}

.titulo-card{
  font-size: 20px;
  line-height: 22px;
}

.subtitulo-card{
  font-size: 18px;
  color: white;
}

.contenido-card{
  font-size: 18px;
  line-height: 22px;
}

.icono-card{
  margin-left: 25px;
  font-size: 30px;
  cursor: pointer;
}

.icono-card:hover{
  color: #f75555;
}

.numero-likes{
  vertical-align: super;
  margin-left: 10px;
  font-size: 24px;
}

.example-card {
  margin: 15px;
  padding-bottom: 1rem;
  font-family: Roboto, sans-serif;
  border-radius: 25px;
  height: 452px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.no-margin-right {
  margin-right: 0 !important;
}

mat-card-subtitle {
  margin-bottom: 8px !important;
}
mat-card-footer {
  position: absolute;
  bottom: 14px;
}
.crop {
  overflow:hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/* Responsive */
/* @media only screen and (min-width: 1259px){
    .example-card  {
      width: 390px;
    }
}

@media only screen and (max-width: 1259px){
    .example-card  {
      width: 288px;
    }
}

@media only screen and (max-width: 645px){
  .card {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
} */
