<div class="container">
  <mat-toolbar>Agregar proyecto</mat-toolbar>

  <mat-card style="margin-top: 10px">
    <form [formGroup]="form" (ngSubmit)="agregarProyecto()" >
      <mat-grid-list cols="4" rowHeight="70px">
        <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field>
            <mat-label>Empresa</mat-label>
            <input matInput />
          </mat-form-field>
        </mat-grid-tile> -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">

            <mat-form-field class="ancho">
              <mat-label>Nombre del proyecto</mat-label>
  
              <input matInput formControlName="nombreproyecto"/>
              <mat-error *ngIf="form.get('nombreproyecto').hasError('required')">Campo Obligatorio</mat-error>                                       

            </mat-form-field>
          </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="4">

            <img src="../../../assets/imgs/rocket.png" alt="usuario" width="180" height="180">
          
        </mat-grid-tile>



        <mat-grid-tile [colspan]="2" [rowspan]="1">
         <mat-form-field class="ancho">
            <mat-label>Descripción</mat-label>
            <textarea matInput formControlName="descripcion" matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=5></textarea>
            <mat-error *ngIf="form.get('descripcion').hasError('required')">Campo Obligatorio</mat-error>                                       
          
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <mat-form-field class="ancho">
            <mat-label>Criterios del proyecto</mat-label>
            <input matInput formControlName="criterios"/>
            <mat-error *ngIf="form.get('criterios').hasError('required')">Campo Obligatorio</mat-error>                                       

          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field>
              <mat-label>Fecha de apertura</mat-label>
              <input matInput formControlName="apertura"/>
              <mat-error *ngIf="form.get('apertura').hasError('required')">Campo Obligatorio</mat-error>                                       

            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field>
              <mat-label>Fecha de cierre</mat-label>
              <input matInput formControlName="cierre"/>
              <mat-error *ngIf="form.get('cierre').hasError('required')">Campo Obligatorio</mat-error>                                       

            </mat-form-field>
          </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-form-field>
            <mat-label>Recompensa</mat-label>
            <input matInput formControlName="recompensa"/>
            <mat-error *ngIf="form.get('recompensa').hasError('required')">Campo Obligatorio</mat-error>                                       

          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
              <mat-error *ngIf="form.get('email').hasError('required')">Campo Obligatorio</mat-error>                         <mat-error *ngIf="form.get('email').hasError('pattern')">Ingrese un Email Valido</mat-error>
                                                   

            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1">
              <h1> Encontrar la alegría en el trabajo es descubrir la fuente de la juventud (Pearl S. Buck).</h1>

          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field>
              <mat-label>Telefono</mat-label>
              <input matInput  formControlName="telefono"/>
              <mat-error *ngIf="form.get('telefono').hasError('required')">Campo Obligatorio</mat-error>                                       

            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            <mat-form-field>
                <mat-label>Comentarios</mat-label>
                <textarea matInput formControlName="comentarios"
                 matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=5></textarea>
              <mat-error *ngIf="form.get('comentarios').hasError('required')">Campo Obligatorio</mat-error>                                       

              </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
            
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1" [rowspan]="1">
           
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="1">
            <button mat-raised-button style="margin-right: 20px;" routerLink="../proyectos">Volver</button>
                <button [disabled]="form.invalid" mat-raised-button color="primary" type="submit" >Guardar</button>
     
          </mat-grid-tile>
         
      </mat-grid-list>

      <br />
      <br />
    </form>
  </mat-card>
</div>

